# The environment in which the application is running
# Possible values: "development", "production"
ENVIRONMENT=

# The API key for accessing OpenAI services
OPENAI_API_KEY=

# The Supabase URL for the PostgreSQL database
DATABASE_URL=

# The Supabase URL for the Direct service
DIRECT_URL=

# The secret key for generating JWT tokens
JWT_SECRET=
