@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-roboto);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #1976d2; /* Color of the scrollbar thumb (primary.main) */
  border-radius: 10px; 
  border: 2px solid #f1f1f1; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #115293; /* Darker color when hovering over the scrollbar thumb (primary.dark) */
}